/* main.css */
@import './base.css';

#app {
  /* Hapus padding agar elemen anak pertama (main-layout) bisa full width */
  /* padding: 2rem; */
  margin: 0; /* Pastikan tidak ada margin yang mendorong keluar */
  font-weight: normal;
  width: 100vw; /* Pastikan app mengambil seluruh lebar viewport */
  min-height: 100vh; /* Pastikan app mengambil seluruh tinggi viewport */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* Untuk desktop, Anda mungkin ingin tetap memusatkan #app jika ada konten lain di luar main-layout */
    /* Untuk tujuan full-width header, kita biarkan App.vue yang mengatur */
    display: block; /* Kembalikan ke block default jika tidak perlu grid/flex global */
    padding: 0; /* Pastikan padding nol di desktop juga */
    width: 100vw;
    min-height: 100vh;
  }
}
